openapi: 3.0.0
info:
  title: Opsgenie REST API
  description: Opsgenie OpenAPI Specification
  version: 2.0.0
servers:
  - url: 'https://api.opsgenie.com/'
security:
  - GenieKey: []
paths:
  '/v2/alerts/requests/{requestId}':
    get:
      tags:
        - alert
      summary: Get Request Status of Alert
      description: >-
        Used to track the status and alert details (if any) of the request whose
        identifier is given
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-get-request-status'
      operationId: getRequestStatus
      parameters:
        - name: requestId
          in: path
          description: Universally unique identifier of the questioned request
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Request status information for given id
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRequestStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  /v2/alerts:
    get:
      tags:
        - alert
      summary: List Alerts
      description: Returns list of alerts
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-list-alerts'
      operationId: listAlerts
      parameters:
        - name: query
          in: query
          description: Search query to apply while filtering the alerts
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: searchIdentifier
          in: query
          description: >-
            Identifier of the saved search query to apply while filtering the
            alerts
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: searchIdentifierType
          in: query
          description: >-
            Identifier type of the saved search query. Possible values are 'id',
            or 'name'
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: id
            enum:
              - id
              - name
        - name: offset
          in: query
          description: >-
            Start index of the result set (to apply pagination). Minimum value
            (and also default value) is 0
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: >-
            Maximum number of items to provide in the result. Must be a positive
            integer value. Default value is 20 and maximum value is 100
          required: false
          style: form
          explode: true
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
        - name: sort
          in: query
          description: Name of the field that result set will be sorted by
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: createdAt
            enum:
              - createdAt
              - updatedAt
              - tinyId
              - alias
              - message
              - status
              - acknowledged
              - isSeen
              - snoozed
              - snoozedUntil
              - count
              - lastOccurredAt
              - source
              - owner
              - integration.name
              - integration.type
              - report.ackTime
              - report.closeTime
              - report.acknowledgedBy
              - report.closedBy
        - name: order
          in: query
          description: Sorting order of the result set
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        '200':
          description: List of alert informations
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Prev:
              description: Previous page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Next:
              description: Next page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-First:
              description: First page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Last:
              description: Last page url
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListAlertsRequest
    post:
      tags:
        - alert
      summary: Create Alert
      description: Creates a new alert
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-create-alert'
      operationId: createAlert
      requestBody:
        description: Request payload of created alert
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/alerts/{identifier}':
    get:
      tags:
        - alert
      summary: Get Alert
      description: 'Returns alert with given id, tiny id or alias'
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-get-alert'
      operationId: getAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      responses:
        '200':
          description: Alert information for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: GetAlertRequest
    delete:
      tags:
        - alert
      summary: Delete Alert
      description: 'Deletes an alert using alert id, tiny id or alias'
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-delete-alert'
      operationId: deleteAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
        - $ref: '#/components/parameters/AlertUserParam'
        - $ref: '#/components/parameters/AlertSourceParam'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: DeleteAlertRequest
  '/v2/alerts/{identifier}/acknowledge':
    post:
      tags:
        - alert
      summary: Acknowledge Alert
      description: Acknowledges alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-acknowledge-alert'
      operationId: acknowledgeAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of acknowledging alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgeAlertPayload'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AcknowledgeAlertRequest
  '/v2/alerts/{identifier}/unacknowledge':
    post:
      tags:
        - alert
      summary: UnAcknowledge Alert
      description: UnAcknowledge alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-unacknowledge-alert'
      operationId: unAcknowledgeAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of unacknowledging alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnAcknowledgeAlertPayload'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UnAcknowledgeAlertRequest
  '/v2/alerts/{identifier}/close':
    post:
      tags:
        - alert
      summary: Close Alert
      description: Closes alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-close-alert'
      operationId: closeAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of closing alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseAlertPayload'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: CloseAlertRequest
  '/v2/alerts/{identifier}/snooze':
    post:
      tags:
        - alert
      summary: Snooze Alert
      description: Snooze alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-snooze-alert'
      operationId: snoozeAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of snoozing alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnoozeAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: SnoozeAlertRequest
  '/v2/alerts/{identifier}/escalate':
    post:
      tags:
        - alert
      summary: Escalate Alert
      description: Escalate alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-escalate-alert-to-next'
      operationId: escalateAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of escalating alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscalateAlertToNextPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: EscalateAlertRequest
  '/v2/alerts/{identifier}/assign':
    post:
      tags:
        - alert
      summary: Assign Alert
      description: Assign alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-assign-alert'
      operationId: assignAlert
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of assigning alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AssignAlertRequest
  '/v2/alerts/{identifier}/responders':
    post:
      tags:
        - alert
      summary: Add Responder
      description: Add responder to alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-add-responder-to-alert'
      operationId: addResponder
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of adding responder to alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddResponderToAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AddResponderToAlertRequest
  '/v2/alerts/{identifier}/teams':
    post:
      tags:
        - alert
      summary: Add Team
      description: Add team to alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-add-team-to-alert'
      operationId: addTeam
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of adding team to alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTeamToAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AddTeamToAlertRequest
  '/v2/alerts/{identifier}/actions/{actionName}':
    post:
      tags:
        - alert
      summary: Custom Alert Action
      description: Custom actions for the alert
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-execute-custom-action'
      operationId: executeCustomAlertAction
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
        - name: actionName
          in: path
          description: Name of the action to execute
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Request payload of executing custom alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteCustomAlertActionPayload'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ExecuteCustomAlertActionRequest
  '/v2/alerts/{identifier}/recipients':
    get:
      tags:
        - alert
      summary: List Alert Recipients
      description: List alert recipients for the given alert identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-list-alert-recipients'
      operationId: listRecipients
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      responses:
        '200':
          description: Returns alert recipients for the given alert identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertRecipientsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListAlertRecipientsRequest
  '/v2/alerts/{identifier}/logs':
    get:
      tags:
        - alert
      summary: List Alert Logs
      description: List alert logs for the given alert identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-list-alert-logs'
      operationId: listLogs
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/PageDirectionParam'
        - $ref: '#/components/parameters/AlertLimitParam'
        - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: Returns alert logs for the given alert identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Next:
              description: Next page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-First:
              description: First page url
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertLogsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListAlertLogsRequest
  '/v2/alerts/{identifier}/attachments':
    get:
      tags:
        - alert
      summary: List Alert Attachments
      description: List alert attachment names and urls for related alert
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-list-alert-attachments'
      operationId: listAttachments
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType2'
      responses:
        '200':
          description: Returns name and url for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertAttachmentsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListAlertAttachmentsRequest
    post:
      tags:
        - alert
      summary: Add Alert Attachment
      description: Add Alert Attachment to related alert
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/alert-api#section-create-alert-attachment
      operationId: addAttachment
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType2'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user:
                  type: string
                  description: Display name of the request owner
                indexFile:
                  type: string
                  description: >-
                    Name of html file which will be shown when attachment
                    clicked on UI
        required: true
      responses:
        '201':
          description: Returns attachment id
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Corrupted file
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AddAttachmentToAlertRequest
  '/v2/alerts/{identifier}/attachments/{attachmentId}':
    get:
      tags:
        - alert
      summary: Get Alert Attachment
      description: Get alert attachment name and url for the given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-get-alert-attachment'
      operationId: getAttachment
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType2'
        - name: attachmentId
          in: path
          description: Identifier of alert attachment
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Returns name and url for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertAttachmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: GetAlertAttachmentRequest
    delete:
      tags:
        - alert
      summary: Remove Alert Attachment
      description: Remove alert attachment for the given identifier
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/alert-api#section-delete-alert-attachment
      operationId: removeAttachment
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType2'
        - name: attachmentId
          in: path
          description: Identifier of alert attachment
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/AlertUserParam'
      responses:
        '200':
          description: Returns deleted messsage for this async operation.
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: RemoveAttachmentFromAlertRequest
  '/v2/alerts/{identifier}/tags':
    post:
      tags:
        - alert
      summary: Add Tags
      description: Add tags to the alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-add-tags-to-alert'
      operationId: addTags
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of creating alert tags action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagsToAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AddTagsToAlertRequest
    delete:
      tags:
        - alert
      summary: Remove Tags
      description: Remove tags of the alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-remove-tags-from-alert'
      operationId: removeTags
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
        - $ref: '#/components/parameters/AlertUserParam'
        - $ref: '#/components/parameters/AlertNoteParam'
        - $ref: '#/components/parameters/AlertSourceParam'
        - name: tags
          in: query
          description: >-
            Tags field of the given alert as comma seperated values (e.g. 'tag1,
            tag2')
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: RemoveTagsFromAlertRequest
  '/v2/alerts/{identifier}/details':
    post:
      tags:
        - alert
      summary: Add Details
      description: Add details to the alert with given identifier
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/alert-api#section-add-details-custom-properties-to-alert
      operationId: addDetails
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of adding alert details action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDetailsToAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AddDetailsToAlertRequest
    delete:
      tags:
        - alert
      summary: Remove Details
      description: Remove details of the alert with given identifier
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/alert-api#section-remove-details-custom-properties-from-alert
      operationId: removeDetails
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
        - $ref: '#/components/parameters/AlertUserParam'
        - $ref: '#/components/parameters/AlertNoteParam'
        - $ref: '#/components/parameters/AlertSourceParam'
        - name: keys
          in: query
          description: >-
            Comma separated list of keys to remove from the custom properties of
            the alert (e.g. 'key1,key2')
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: RemoveDetailsFromAlertRequest
  '/v2/alerts/{identifier}/notes':
    get:
      tags:
        - alert
      summary: List Alert Notes
      description: List alert notes for the given alert identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-list-alert-notes'
      operationId: listNotes
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/PageDirectionParam'
        - $ref: '#/components/parameters/AlertLimitParam'
        - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: Returns alert notes for the given alert identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Next:
              description: Next page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-First:
              description: First page url
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertNotesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListAlertNotesRequest
    post:
      tags:
        - alert
      summary: Add Note
      description: Adds note to alert with given identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-add-note-to-alert'
      operationId: addNote
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of adding note to alert action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddNoteToAlertPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: AddNoteToAlertRequest
  /v2/alerts/saved-searches:
    get:
      tags:
        - alert
      summary: Lists Saved Searches
      description: List all saved searches
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-list-saved-searches'
      operationId: listSavedSearches
      responses:
        '200':
          description: Returns saved search list
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedSearchesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
    post:
      tags:
        - alert
      summary: Create Saved Search
      description: Create saved search with given fields
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-create-a-saved-search'
      operationId: createSavedSearches
      requestBody:
        description: Request payload of creating saved search
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedSearchPayload'
        required: true
      responses:
        '201':
          description: Returns saved search meta information
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSavedSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/alerts/saved-searches/{identifier}':
    get:
      tags:
        - alert
      summary: Get Saved Search
      description: Get saved search for the given search identifier
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/alert-api#section-get-saved-search'
      operationId: getSavedSearch
      parameters:
        - $ref: '#/components/parameters/SearchIdentifier'
        - $ref: '#/components/parameters/SearchIdentifierType'
      responses:
        '200':
          description: Returns saved search for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSavedSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: GetSavedSearchRequest
    delete:
      tags:
        - alert
      summary: Delete Saved Search
      description: Deletes saved search using given search identifier
      operationId: deleteSavedSearch
      parameters:
        - $ref: '#/components/parameters/SearchIdentifier'
        - $ref: '#/components/parameters/SearchIdentifierType'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: DeleteSavedSearchRequest
    patch:
      tags:
        - alert
      summary: Update Saved Search
      description: Update saved search for the given search identifier
      externalDocs:
        description: For more information
        url: >-
          https://docs.opsgenie.com/docs/alert-api-continued#section-update-saved-search
      operationId: updateSavedSearch
      parameters:
        - $ref: '#/components/parameters/SearchIdentifier'
        - $ref: '#/components/parameters/SearchIdentifierType'
      requestBody:
        description: Request payload of updating saved search
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSavedSearchPayload'
        required: true
      responses:
        '200':
          description: Returns saved search for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSavedSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UpdateSavedSearchRequest
  /v2/alerts/count:
    get:
      tags:
        - alert
      summary: Count Alerts
      description: Count alerts in Opsgenie
      externalDocs:
        description: For more information
        url: 'https://docs.opsgenie.com/docs/alert-api#section-count-alerts'
      operationId: countAlerts
      parameters:
        - name: query
          in: query
          description: Search query to apply while filtering the alerts
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: searchIdentifier
          in: query
          description: >-
            Identifier of the saved search query to apply while filtering the
            alerts
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: searchIdentifierType
          in: query
          description: >-
            Identifier type of the saved search query. Possible values are id
            and name. Default value is id. If searchIdentifier is not provided,
            this value is ignored.
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: id
            enum:
              - id
              - name
      responses:
        '200':
          description: Returns saved search for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCountAlertsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: GetCountAlertsRequest
  '/v2/alerts/{identifier}/message':
    put:
      tags:
        - alert
      summary: Update Alert Message
      description: Update the message of the alert with given identifier
      externalDocs:
        description: For more information
        url: >-
          https://docs.opsgenie.com/docs/alert-api-continued#section-update-alert-message
      operationId: updateAlertMessage
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of update alert message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAlertMessagePayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UpdateAlertMessageRequest
  '/v2/alerts/{identifier}/description':
    put:
      tags:
        - alert
      summary: Update Alert Description
      description: Update the description of the alert with given identifier
      externalDocs:
        description: For more information
        url: >-
          https://docs.opsgenie.com/docs/alert-api-continued#section-update-alert-description
      operationId: updateAlertDescription
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of update alert description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAlertDescriptionPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UpdateAlertDescriptionRequest
  '/v2/alerts/{identifier}/priority':
    put:
      tags:
        - alert
      summary: Update Alert Priority
      description: Update the priority of the alert with given identifier
      externalDocs:
        description: For more information
        url: >-
          https://docs.opsgenie.com/docs/alert-api-continued#section-update-alert-priority
      operationId: updateAlertPriority
      parameters:
        - $ref: '#/components/parameters/AlertIdentifier'
        - $ref: '#/components/parameters/AlertIdentifierType'
      requestBody:
        description: Request payload of update alert priority
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAlertPriorityPayload'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UpdateAlertPriorityRequest
  /v2/integrations:
    get:
      tags:
        - integration
      summary: List Integrations
      description: Returns list of integrations with given parameters
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-list-integrations
      operationId: listIntegrations
      parameters:
        - $ref: '#/components/parameters/IntegrationType'
        - $ref: '#/components/parameters/IntegrationTeamId'
        - $ref: '#/components/parameters/IntegrationTeamName'
      responses:
        '200':
          description: List of integration informations
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListIntegrationRequest
    post:
      tags:
        - integration
      summary: Create Integration
      description: Creates a new integration
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-create-api-based-integration
      operationId: createIntegration
      requestBody:
        description: Request payload of created integration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration'
        required: true
      responses:
        '201':
          description: Integration meta information for created integration
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/integrations/{id}':
    get:
      tags:
        - integration
      summary: Get Integration
      description: Returns integration with given id
      externalDocs:
        description: For more information
        url: 'https://www.opsgenie.com/docs/integration-api#section-get-integration'
      operationId: getIntegration
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      responses:
        '200':
          description: Integration information for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
    put:
      tags:
        - integration
      summary: Update Integration
      description: Update integration with given id
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-update-integration
      operationId: updateIntegration
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      requestBody:
        description: Request payload of update integration action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration'
        required: true
      responses:
        '200':
          description: Integration information for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIntegrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UpdateIntegrationRequest
    delete:
      tags:
        - integration
      summary: Delete Integration
      description: Delete integration with given id
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-delete-integration
      operationId: deleteIntegration
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/integrations/{id}/enable':
    post:
      tags:
        - integration
      summary: Enable Integration
      description: Enable integration with given ID
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-enable-integration
      operationId: enableIntegration
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      responses:
        '201':
          description: Integration information for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnableIntegrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/integrations/{id}/disable':
    post:
      tags:
        - integration
      summary: Disable Integration
      description: Disable integration with given ID
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-disable-integration
      operationId: disableIntegration
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      responses:
        '201':
          description: Integration information for given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisableIntegrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  /v2/integrations/authenticate:
    post:
      tags:
        - integration
      summary: Authenticate Integration
      description: Authenticates integration with given type
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-authenticate-integration
      operationId: authenticateIntegration
      requestBody:
        description: Request payload to authenticate integration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticateIntegrationPayload'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/integrations/{id}/actions':
    get:
      tags:
        - integration-action
      summary: List Integration Actions
      description: List integration actions of given integration id
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-get-integration-actions
      operationId: listIntegrationActions
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      responses:
        '200':
          description: List of integration actions
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationActionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
    put:
      tags:
        - integration-action
      summary: Update Integration Actions
      description: Updates integration actions of given integration id
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-update-all-integration-actions
      operationId: updateIntegrationActions
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      requestBody:
        description: Request payload to update integration actions
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionCategorized'
        required: true
      responses:
        '200':
          description: List of integration actions
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIntegrationActionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: UpdateIntegrationActionRequest
    post:
      tags:
        - integration-action
      summary: Create Integration Action
      description: Creates integration actions of given integration id
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/integration-api#section-create-a-new-integration-action
      operationId: createIntegrationAction
      parameters:
        - $ref: '#/components/parameters/IntegrationId'
      requestBody:
        description: Request payload to create integration action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseIntegrationAction'
        required: true
      responses:
        '201':
          description: List of integration actions
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationActionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: CreateIntegrationActionRequest
  '/v2/heartbeats/{name}/ping':
    get:
      tags:
        - heartbeat
      summary: Ping Heartbeat
      description: Ping Heartbeat for given heartbeat name
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/heartbeat-api#section-ping-heartbeat-request
      operationId: ping
      parameters:
        - $ref: '#/components/parameters/HeartbeatName'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  /v2/heartbeats:
    get:
      tags:
        - heartbeat
      summary: List Heartbeats
      description: Returns list of Heartbeats
      externalDocs:
        description: For more information
        url: 'https://docs.opsgenie.com/docs/heartbeat-api#section-list-heartbeats'
      operationId: listHeartBeats
      responses:
        '200':
          description: List of heartbeat informations
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Prev:
              description: Previous page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Next:
              description: Next page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-First:
              description: First page url
              style: simple
              explode: false
              schema:
                type: string
            X-Paging-Last:
              description: Last page url
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHeartbeatResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
      x-collapse-params: ListHeartBeatRequest
    post:
      tags:
        - heartbeat
      summary: Create Heartbeat
      description: Create a new heartbeat
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/heartbeat-api#section-add-heartbeat-request
      operationId: createHeartbeat
      requestBody:
        description: Request payload of created heartbeat
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHeartbeatPayload'
        required: true
      responses:
        '201':
          description: Heartbeat information for created heartbeat name
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateHeartbeatResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequest'
        default:
          $ref: '#/components/responses/GeneralError'
  '/v2/heartbeats/{name}':
    get:
      tags:
        - heartbeat
      summary: Get Heartbeat
      description: Returns heartbeat with given name
      externalDocs:
        description: For more information
        url: >-
          https://www.opsgenie.com/docs/heartbeat-api#section-get-heartbeat-request
      operationId: getHeartbeat
      parameters:
        - $ref: '#/components/parameters/HeartbeatName'
      responses:
        '200':
          description: Heartbeat information for given heartbeat name
          headers:
            X-Request-ID:
              description: Id of given request
              style: simple
              explode: false
              schema:
                type: string
            X-Response-Time:
              description: Process time of given request
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-State:
              description: Status of rate limit
              style: simple
              explode: false
              schema:
                type: string
            X-RateLimit-Reason:
              description: Source of the rate limit
              style: simple
              explode: false
              schema:
                type: string
[...]
